<div class="home__container">

    <app-card
        gameCover="assets/resident.webp"
        gameLabel="NEW"
        gameType="DIGITAL | PS5"
        gamePrice="R$ 239,99"
    >
    </app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Exclusive"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="R$ 219,99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 159,99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="DISC | PS5"
        gamePrice="R$ 239,99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="Exclusive"
        gameType="DISC | PS4 PS5"
        gamePrice="R$ 259,99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4 PS5"
        gamePrice="R$ 229,99"
    >
    </app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Exclusive"
        gameType="DIGITAL | PS5"
        gamePrice="R$ 219,99"
    >
    </app-card>

    <app-card
        gameCover="assets/gow.jpg"
        gameLabel="Exclusive"
        gameType="DIGITAL | PS5"
        gamePrice="R$ 199,99"
    >
    </app-card>

    <app-card
        gameCover="assets/chivalry.jpg"
        gameLabel="Exclusive"
        gameType="DIGITAL | PS5"
        gamePrice="R$ 229,99"
    >
    </app-card>

</div>
