<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="menu-bar__container">

    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="Logo playstation" width="140px" height="32px">
    </div>

    <div class="menu-bar__item">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/mateus-virg%C3%ADlio-103590219/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/mateus-virgilio22" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/mateusvirgilio/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>

</div>
